<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    
    <form action="/result" method="POST">
        <center>
            {% if test %}
            <h3 style="color: blue;">Text Output here: {{test}}</h3>

            {% endif %}
        </center>

        <label for="Test">Enter text</label>
        <input type="text" name="test" id="test">
        <center>
            <input type="Submit">
        </center>

    </form>

</body>
</html>